{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/bash
set -euo pipefail

sudo pacman -S --needed --noconfirm \
{{ range .packages.linux.arch -}}
  {{ . }} \
{{ end }}

{{ end -}}
