{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

if ! command -v brew >/dev/null 2>&1; then
  echo "Homebrew is not installed. Skip darwin brew bundle."
  exit 0
fi

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
